<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Viewport"  content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body  bgcolor="#e0ffff">
<style>
.myDiv {
  border: 5px outset black;
  background-color: lightblue;
  text-align: center;
}
</style>

<div class="myDiv">
  <h1>Tienda Virtual Liz Fashion</h1>
</div>
     <ul>
            <l1>    <a href="/">Portada</a>   </l1>
            <br>
            <l1>     <a href="/about-me/">Acerca de</a>  </l1>
            <br>
            <l1>     <a href="/contact/">Contacto</a>   </l1>
            <br>
            <l1>    <a href="/Servicio/">Servicio</a>   </l1>
            <l1>    <a href="/index/">index</a>   </l1>

     </ul>


       {% block content %}           {% endblock %}




</bodybg>
</html>